
<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Age: {{age}}</h6>
    <p class="card-text">{{description}}</p>
    <a href="{{link}}" class="card-link">Images</a>
  </div>
</div> -->
<!-- <p>{{title}}</p> -->
<div class="card text-center">
  <div class="card-header">
    Age: {{age}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="{{link}}" class="card-link">Images</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
