<!--
<div class="card text-center">
  <div class="card-header">
    Age: {{myOBJ.age}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{myOBJ.title}}</h5>
    <p class="card-text">{{myOBJ.description}}</p>
    <a (click)="goToProduct(myOBJ.pId)" class="card-link">Checkout {{myOBJ.pId}}</a>

  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
 -->

<div class="card" style="width: 18rem;">
  <img [src]="myOBJ.link[0]" class="card-img-top cardImg" alt="...">
  <div class="card-body">
    <!-- <h5 class="card-title">{{myOBJ._id}}</h5> -->
    <!-- <p class="card-text">{{myOBJ.description}}</p> -->
    <a (click)="goToProduct(myOBJ._id)" class="btn btn-block btnLink btn-primary">{{myOBJ.item}}</a>
  </div>
</div>
